@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product {
  position: absolute;
  bottom: 0;
  color: var(--color);
  margin: 0em 0em 2em 2em;
  font-family: 'Rajdhani', sans-serif;
}